<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>刘天鹏的个人主页</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link href="css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="css/nav.css"/>
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <style>
    .text-center{
      text-align: center;
    }

    div#menu ul li:nth-child(5) a{
      background-color: #FB9C00;
      border-radius: 4px;
    }
    .marginTop{
      margin-top: 10%;
    }
  </style>
</head>
<body style="background-color: #FFF1DA;">
<!--导航-->
<div id="nav"></div>
<div class="container">
  <!-- 标题-->
  <div class="row" style="margin-top: 80px">
       <div class="col-md-12 text-center" >
         <h2 style="font-weight: bold;font-size:40px;margin: 30px 0">留言簿</h2>
       </div>
     </div>
  <!-- 留言板-->
  <div id="container">
  <mylist></mylist>
  </div>
</div>

<script src="js/jquery-1.11.3.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/bootlint.js"></script>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script>
  $("#nav").load("nav.html");
//  bootlint.showLintReportForCurrentDocument([]);
  Vue.component('mylist',{
    data:function(){
      return{
        msg:['新网站，很看好','不错，加油！'],
        inputVal:''
      }
    },
    methods:{
      add:function(){
        this.msg.push(this.inputVal);
        this.inputVal='';
      }
    },
    template:`<div>
      <ul class="list-unstyled">
        <li v-for="tmp in msg"><h3>{{tmp}}</h3></li>
      </ul>
      <input type="text" v-model="inputVal" class="form-control marginTop"/>
      <button @click="add" class="btn btn-success btn-block" style="margin-top: 10px">留&nbsp;言</button>

    </div>`
  })
  new Vue({
      el: "#container",
      data: {
        msg: 'Hello Vue'
      }
  });
</script>
</body>
</html>